body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background: #9aafa3;
  color: #ffffff;
}

/* ==== Центровщик и распорка ==== */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 1.8%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;

  outline: 2px solid yellow;

}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* ==== ГЛАВНАЯ ==== */

.site-wrapper {
  background: url('../img/index-bg-1.png') no-repeat top center #849d8f;
}

.site-wrapper::before,
.site-wrapper::after {
  content: '';

  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url('index-bg-1.png');
}

.site-wrapper::after {
  background-image: url('');
}

.btn {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.page-header {
  position: relative;

  min-height: 82px;
}

.logo {
  width: 150px;
  float: left;
  padding-top: 12px;
  margin-right: 25px;
}

.main-nav-items {
  width: 600px;
  float: left;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav-item {
  position: relative;

  display: inline-block;
  vertical-align: top;
}

.main-nav-item ul {
  display: none;
}

.main-nav-item:hover ul {
  display: block;
}

.main-nav-link {
  display: block;

  padding-top: 30px;
  margin-right: 25px;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
}

.main-nav-active {
  border-bottom: 0;
}

.sub-menu {
  position: absolute;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sub-menu-item:first-child {
  font-weight: bold;
}

.sub-menu-link {
  display: block;

  padding-top: 10px;

  text-decoration: none;
  font-size: 14px;
  line-height: 16px;

  color: #323232;
}

.user-menu {
  width: 274px;
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-item {
  position: relative;

  display: inline-block;
  vertical-align: top;

  margin-top: 30px;
  padding: 8px 35px;
  border-radius: 30px;
}

.user-menu-item:first-child {
  width: 33px;
  height: 33px;
  padding: 0;
  border-radius: 50%;

  background: url('../img/icon-2.svg') no-repeat 8px 8px #b0c0b7;
}

.user-menu-item:nth-child(2) {
  background: url('../img/icon-3.svg') no-repeat 8px 8px #b0c0b7;
}

.user-menu-item:last-child {
  background: url('../img/basket.svg') no-repeat 8px 8px #b0c0b7;
}

.user-menu-item ul {
  display: none;
}

.user-menu-item:hover ul {
  display: block;
}

.user-menu-link {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #ffffff;
  text-decoration: none;
}

.non-empty {
  color: #323232;

}

.user-menu-search,
.user-menu-enter {
  position: absolute;
  right: 0;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-search {
  width: 340px;
}

.user-menu-search input {
  display: block;

  width: 311px;
  height: 43px;
}

.user-menu-enter {
  width: 277px;
}

.user-menu-enter input {
  width: 240px;
  height: 43px;
}

.user-menu-btn {
  width: 100px;
  float: left;
}

.enter-links {
  width: 121px;
  float: right;
}

.enter-link {
  font-size: 13px;
  line-height: 24px;

  color: #323232;
}

.info {
  position: absolute;
  bottom: -36px;
  right: 2%;

  width: 200px;
  float: right;

  text-align: right;
}

.info-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.info-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
}

.intro {
  position: relative;

  min-height: 564px;
}

.intro-btn {
  position: absolute;
  bottom: 62px;
  left: 50%;

  width: 278px;
  margin-left: -139px;

  text-align: center;
  font-size: 32px;
  line-height: 44px;
}

.banners {
  margin-bottom: 40px;
}

.banners-left {
  height: 229px;
  width: 560px;
  float: left;

  background: url('../img/fon-1.png') no-repeat top center;
}

.banners-right {
  height: 229px;
  width: 560px;
  float: right;

  background: url('../img/fon-2.png') no-repeat top center;
}

.banners-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banners-btn {
  width: auto;
  float: right;
}

.hits {
  margin-bottom: 35px;
}

.hit {
  width: 22.2%;
  float: left;
  margin-right: 3.4%;

  text-align: center;
}

.hit:last-child {
  margin-right: 0;
}

.hit-picture {
  position: relative;

  margin-bottom: 10px;
}

.hit-sticker {
  position: absolute;
  left: 0;
  top: 0;
}

.hit-title {
  border-bottom: 1px solid rgba(255,255,255,0.2);

  text-decoration: none;
  font-weight: 500;

  color: #ffffff;
}

.price {
  position: absolute;
  top: 210px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  background: url('../img/r.svg') no-repeat 80px 5px;
}

.price-padding {
  display: inline-block;

  margin-left: 23px;

  font-size: 30px;
}

.description {
  min-height: 308px;
  margin-bottom: 38px;

  color: #323232;
  background: url('../img/fon-3.png') no-repeat 30px 0;
}

.description-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.description-text {
  padding-left: 75px;
}

.icon-ice-cream {
  background: url('../img/icon-8.svg') no-repeat;
}

.icon-leaf {
  background: url('../img/icon-7.svg') no-repeat;
}

.icon-cow {
  background: url('../img/icon-6.svg') no-repeat;
}

.icon-thermo {
  background: url('../img/icon-5.svg') no-repeat;
}

.half-width {
  width: 560px;
  float: left;
}

.half-width:last-child {
  float: right;
}

.index-content {
  margin-bottom: 35px;
}

.blog {
  width: 560px;
  height: 225px;
  float: left;

  color: #323232;
  background: url('../img/fon-4.png') no-repeat;
}

.blog-title {
  font-weight: 500;
}

.post-title {
  font-size: 24px;
  line-height: 30px;

  color: #323232;
}

.subscribe {
  width: 560px;
  height: 225px;
  float: right;

  color: #5a5a5a;
  background: url('../img/fon-5.png') no-repeat;
}

.email-btn {
  display: inline-block;
}

.map {
  min-height: 430px;
}

.contacts {
  min-height: 305px;
  width: 305px;
  float: right;
  margin-top: 62px;

  color: #323232;
  background: #fefefe;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
}

.contacts-big {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.feedback {
  display: none;
}

.feedback-show {
  position: fixed;
  left: 50%;
  top: 50%;

  display: block;

  width: 478px;
  height: 440px;
  margin-left: -239px;
  margin-top: -220px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  color: #323232;
  background: #f8f7f4;
}

.feedback input {
  display: block;

  width: 265px;
  height: 42px;
}

.feedback-btn {
  width: 90px;
}


/* ==== ФУТЕР ==== */

.page-footer {
  border-top: 2px solid #a9bbb1;
}

.page-footer-item {
  width: 33%;
  float: left;
  margin-right: 0.5%;
}

.page-footer-item:last-child {
  margin-right: 0;
}

.page-footer-item a {
  text-decoration: none;

  color: #ffffff;
}

.social-links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-link {
  display: inline-block;
  vertical-align: top;

  margin-right: 10px;
}

.social {
  display: block;

  width: 30px;
  height: 30px;
  margin-top: 35px;

  font-size: 0;

  border-radius: 50%;
  border: 3px solid #c2cec7;
}

.social-twi {
  background: url('../img/twi.svg') no-repeat;
}

.social-insta {
  background: url('../img/insta.svg') no-repeat;
}

.social-fb {
  background: url('../img/fb.svg') no-repeat;
}

.social-vk {
  background: url('../img/vk.svg') no-repeat;
}

.footer-links {
  margin: 0;
  padding: 0;
  padding-top: 28px;

  list-style: none;
}

.footer-link {
  width: 50%;
  float: left;

}

.footer-link:first-child {
  font-weight: bold;

  background: url('../img/icon-1.svg') no-repeat 0 5px;
}

.footer-link a {
  border-bottom: 1px solid rgba(255,255,255,0.2);

  font-size: 13px;
  line-height: 18px;
}

.copyright {
  font-size: 12px;
}

.copyright-link {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}


/* ==== КАТАЛОГ ==== */

.user-menu-basket {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 16px;

  list-style: none;
  color: #323232;
}

.basket-item {
  position: absolute;
  right: 0;

  width: 540px;
}

.basket-colored {
  color: #999999;
}

.basket-total {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.basket-btn {
  width: 170px;
  float: right;
}

.catalog-menu h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs-link {
  border-bottom: 1px solid rgba(255,255,255,0.2);

  text-decoration: none;

  color: #ffffff;
}

.filters {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters-btn {
  text-decoration: none;

  color: #ffffff;
}

.filters p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-sort {
  width: 193px;
  float: left;
}

.filter-price {
  width: 218px;
  float: left;
}

.filter-oiliness {
  width: 415px;
  float: left;
}

.filter-oiliness-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-oiliness-item {
  display: inline-block;
  vertical-align: top;
}

.filter-stuffing {
  width: 702px;
  float: left;
}

.filter-stuffing-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-stuffing-item {
  display: inline-block;
  vertical-align: top;
}

.filters-btn {
  width: 141px;
  float: left;
  margin-top: 55px;
}

.catalog-items-row {
  min-height: 400px;
}

.catalog-item {
  position: relative;

  width: 22.2%;
  float: left;
  margin-right: 3.73%;

  text-align: center;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item .quick-view-btn {
  display: none;
}

.catalog-item:hover .quick-view-btn {
  display: block;
}

.catalog-item-title {
  border-bottom: 1px solid rgba(255,255,255,0.2);

  text-decoration: none;
  font-weight: 500;

  color: #ffffff;
}

.pagination {
  width: 190px;
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  display: inline-block;
  vertical-align: top;
}

.pagination-link {
  text-decoration: none;

  color: #ffffff;
}

.pagination-active {
  color: #323232;
}
