body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background: #9aafa3;
  color: #ffffff;
}

/* ==== Центровщик и распорка ==== */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* ==== ГЛАВНАЯ ==== */

.btn {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
}

.page-header {
  position: relative;

  min-height: 82px;

  outline: 1px solid pink;
}

.logo {
  width: 158px;
  float: left;
  padding-top: 12px;
  margin-right: 30px;
}

.main-nav-items {
  width: 600px;
  float: left;
  margin: 0;
  padding: 0;

  list-style: none;

  outline: 1px solid pink;
}

.main-nav-item {
  position: relative;

  display: inline-block;
  vertical-align: top;
}

.main-nav-item ul {
  display: none;
}

.main-nav-item:hover ul {
  display: block;
}

.main-nav-link {
  display: block;

  padding-top: 30px;
  margin-right: 26px;
  border-bottom: 0.5px solid rgba(255,255,255,0.5);

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
}

.main-nav-active {
  border-bottom: 0;
}

.sub-menu {
  position: absolute;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sub-menu-item:first-child {
  font-weight: bold;
}

.sub-menu-link {
  display: block;

  padding-top: 10px;

  text-decoration: none;
  font-size: 14px;
  line-height: 16px;

  color: #323232;
}

.user-menu {
  width: 264px;
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;

  outline: 1px solid pink;
}

.user-menu-item {
  position: relative;

  display: inline-block;
  vertical-align: top;
}

.user-menu-item ul {
  display: none;
}

.user-menu-item:hover ul {
  display: block;
}

.user-menu-link {
  display: block;

  padding-top: 30px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #ffffff;
  text-decoration: none;
}

.non-empty {
  color: #323232;
}

.user-menu-search,
.user-menu-enter {
  position: absolute;
  right: 0;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-search {
  width: 340px;
}

.user-menu-search input {
  display: block;

  width: 311px;
  height: 43px;
}

.user-menu-enter {
  width: 277px;
}

.user-menu-enter input {
  width: 240px;
  height: 43px;
}

.user-menu-btn {
  width: 100px;
  float: left;
}

.enter-links {
  width: 121px;
  float: right;
}

.enter-link {
  font-size: 13px;
  line-height: 24px;

  color: #323232;
}

.info {
  position: absolute;
  right: 0;

  width: 200px;
  float: right;

  text-align: right;
  outline: 1px solid pink;
}

.info-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.info-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
}

.intro {
  position: relative;

  min-height: 584px;

  outline: 1px solid pink;
}

.intro-btn {
  position: absolute;
  bottom: 62px;
  left: 50%;

  width: 278px;
  margin-left: -139px;

  text-align: center;
  font-size: 32px;
  line-height: 44px;
}

.banners {
  min-height: 230px;

  outline: 2px solid green;
}

.banners-left {
  width: 560px;
  float: left;

  outline: 1px solid pink;
}

.banners-right {
  width: 560px;
  float: right;

  outline: 1px solid pink;
}

.banners-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.banners-btn {
  width: auto;
  float: right;
}

.hits {
  min-height: 400px;
}

.hit {
  width: 22.2%;
  float: left;
  margin-right: 3.73%;

  text-align: center;

  outline: 1px solid pink;
}

.hit:last-child {
  margin-right: 0;
}

.hit-picture {
  position: relative;
}

.hit-title {
  border-bottom: 0.5px solid rgba(255,255,255,0.5);

  text-decoration: none;
  font-weight: 500;

  color: #ffffff;
}

.price {
  position: absolute;
  top: 185px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price-padding {
  font-size: 30px;
}

.description {
  min-height: 308px;

  outline: 2px solid yellow;
  color: #323232;
}

.description-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.description-text {
}

.half-width {
  width: 560px;
  float: left;

  outline: 1px solid pink;
}

.half-width:last-child {
  float: right;
}

.index-content {
  min-height: 220px;

  outline: 2px solid green;
}

.blog {
  width: 560px;
  float: left;

  outline: 1px solid pink;
  color: #323232;
}

.blog-title {
  font-weight: 500;
}

.post-title {
  font-size: 24px;
  line-height: 30px;

  color: #323232;
}

.subscribe {
  width: 560px;
  float: right;

  outline: 1px solid pink;
  color: #5a5a5a;
}

.email-btn {
  display: inline-block;
}

.map {
  min-height: 430px;

  outline: 2px solid yellow;
}

.contacts {
  min-height: 305px;
  width: 305px;
  float: right;
  margin-top: 62px;

  outline: 1px solid pink;
  color: #323232;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
}

.contacts-big {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.feedback {
  display: none;
}

.feedback-show {
  position: fixed;
  left: 40%;
  top: 30%;

  display: block;

  width: 478px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  color: #323232;
}

.feedback input {
  display: block;
}

.feedback-btn {

}


/* ==== ФУТЕР ==== */

.page-footer-item {
  width: 33%;
  float: left;
  margin-right: 0.5%;

  outline: 1px solid pink;
}

.page-footer-item:last-child {
  margin-right: 0;
}

.page-footer-item a {
  text-decoration: none;

  color: #ffffff;
}

.social-links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-link {
  display: inline-block;
  vertical-align: top;
}

.social {
  display: block;

  padding-top: 40px;
}

.footer-links {
  margin: 0;
  padding: 0;
  padding-top: 28px;

  list-style: none;
}

.footer-link {
  width: 50%;
  float: left;
}

.footer-link a {
  border-bottom: 0.5px solid rgba(255,255,255,0.5);

  font-size: 13px;
  line-height: 18px;
}

.footer-link:first-child {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
}

.copyright-link {
  border-bottom: 0.5px solid rgba(255,255,255,0.5);
}


/* ==== КАТАЛОГ ==== */

.user-menu-basket {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 16px;

  list-style: none;
  color: #323232;
}

.basket-item {
  position: absolute;
  right: 0;

  width: 540px;
}

.basket-colored {
  color: #999999;
}

.basket-total {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.basket-btn {
  width: 170px;
  float: right;
}

.catalog-menu h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs-link {
  border-bottom: 0.5px solid rgba(255,255,255,0.5);

  text-decoration: none;

  color: #ffffff;
}

.filters {
  margin-bottom: 20px;

  outline: 2px solid orange;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters-btn {
  text-decoration: none;

  color: #ffffff;
}

.filters p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-sort {
  width: 193px;
  float: left;
}

.filter-price {
  width: 218px;
  float: left;
}

.filter-oiliness {
  width: 415px;
  float: left;
}

.filter-oiliness-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-oiliness-item {
  display: inline-block;
  vertical-align: top;
}

.filter-stuffing {
  width: 702px;
  float: left;
}

.filter-stuffing-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-stuffing-item {
  display: inline-block;
  vertical-align: top;
}

.filters-btn {
  width: 141px;
  float: left;
  margin-top: 55px;
}

.catalog-items-row {
  min-height: 400px;
}

.catalog-item {
  position: relative;

  width: 22.2%;
  float: left;
  margin-right: 3.73%;

  text-align: center;

  outline: 1px solid pink;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item .quick-view-btn {
  display: none;
}

.catalog-item:hover .quick-view-btn {
  display: block;
}

.catalog-item-title {
  border-bottom: 0.5px solid rgba(255,255,255,0.5);

  text-decoration: none;
  font-weight: 500;

  color: #ffffff;
}

.pagination {
  width: 190px;
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  display: inline-block;
  vertical-align: top;
}

.pagination-link {
  text-decoration: none;

  color: #ffffff;
}

.pagination-active {
  color: #323232;
}
